body {
    margin: 0;
    font-family: "Comic Sans MS", "Comic Sans", "Arial";
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    transition: background 4s ease, color 2s ease; /* Smooth background transition with color */
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes wave {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.wave {
    position: absolute;
    top: 50%;
    left: 0;
    width: 200%;
    height: 20px;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    opacity: 0.7;
    animation: wave 5s linear infinite;
}

#menu {
    margin-top: 20px;
    margin-bottom: 20px;
}
#menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
#menu a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

#tracks-table, #track-info {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    overflow: auto;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
th {
    background-color: rgba(0, 0, 0, 0.2);
}
.track-row {
    cursor: pointer;
}
#back-link {
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
#back-link:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.info-card {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
}

.info-card-col {
    flex: 1;  
    min-width: 200px; 
    margin: 10px;
}

.info-card-row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.titleSpot {
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}
.rotatingImage{
    text-align: center;
    margin-top: 100px;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.loader {
    margin: 0 20px;
    --size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    gap: calc(var(--size) / 2);

    /* height: 100px; */
    height: calc(var(--size) * 5);
}

.loader2 {
    margin: 0 20px;
    --size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    gap: calc(var(--size) / 2);

    /* height: 100px; */
    height: calc(var(--size) * 5);
}

.loader div {
    /* width: 20px; */
    width: var(--size);
    /* height: 20px; */
    height: var(--size);
    /* border-radius: 20px; */
    border-radius: var(--size);
    background-color: #ffffff;
}
.animSound{
    animation: wave 2s infinite ease-in-out;

}
.loader2 div {
    /* width: 20px; */
    width: var(--size);
    
    /* height: 20px; */
    height: var(--size);
    
    /* border-radius: 20px; */
    border-radius: var(--size);
    
    background-color: #ffffff;
    }

@keyframes wave {
/* 0%, 100% {
    height: 20px;
    background-color: #ffd700;
} */

25% {
    /* height: 100px; */
    height: calc(var(--size) * 5);
}

50% {
    /* height: 20px; */
    height: var(--size);
}

/* 100% {
    height: 20px;
    background-color: #ffd700;
} */
}



.loader :nth-child(2) {
    animation-delay: 0.2s;
}

.loader :nth-child(3) {
    animation-delay: 0.4s;
}

.loader :nth-child(4) {
    animation-delay: 0.6s;
}

.loader :nth-child(5) {
animation-delay: 0.8s;
}

.loader2 :nth-child(1) {
    animation-delay: 0.8s;
} 

.loader2 :nth-child(2) {
animation-delay: 0.6s;
}

.loader2 :nth-child(3) {
animation-delay: 0.4s;
}

.loader2 :nth-child(4) {
animation-delay: 0.2s;
}

.loader2 :nth-child(5) {
animation-delay: 0s;
}
      

.container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adjust the space between the loaders and the table */
    margin-bottom: 50px;
}

.play-button{
    text-align: center;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    border: none;
    background-color: transparent;

}

@keyframes moveMinionRed {
    0% { transform: translateX(0) rotate(0deg); }
    10% { transform: translateX(10vw) rotate(-20deg); }
    20% { transform: translateX(20vw) rotate(20deg); }
    30% { transform: translateX(30vw) rotate(-20deg); }
    40% { transform: translateX(40vw) rotate(20deg); }
    50% { transform: translateX(50vw) rotate(-20deg); }
    60% { transform: translateX(60vw) rotate(20deg); }
    70% { transform: translateX(70vw) rotate(-20deg); }
    80% { transform: translateX(80vw) rotate(20deg); }
    90% { transform: translateX(90vw) rotate(-20deg); }
    100% { transform: translateX(100vw) rotate(0deg); }
}

@keyframes moveMinionBlue {
    0% { transform: translateX(0) rotate(0deg); }
    10% { transform: translateX(-10vw) rotate(20deg); }
    20% { transform: translateX(-20vw) rotate(-20deg); }
    30% { transform: translateX(-30vw) rotate(20deg); }
    40% { transform: translateX(-40vw) rotate(-20deg); }
    50% { transform: translateX(-50vw) rotate(20deg); }
    60% { transform: translateX(-60vw) rotate(-20deg); }
    70% { transform: translateX(-70vw) rotate(20deg); }
    80% { transform: translateX(-80vw) rotate(-20deg); }
    90% { transform: translateX(-90vw) rotate(20deg); }
    100% { transform: translateX(-100vw) rotate(0deg); }
}

#wave-container-red, #wave-container-blue {
    position: relative;
    width: 100%;
    height: 100%;
}
.minion-red, .minion-blue {
    transition: transform 10s linear;
}

.minion-red {
    width: 75px;
    height: 75px;
    position: absolute;
    left: 0; /* Start from the left */
    animation: moveMinionRed 7s linear forwards; /* Adjust the duration as needed */
}

.minion-blue {
    width: 75px;
    height: 75px;
    position: absolute;
    right: 0; /* Start from the right */
    animation: moveMinionBlue 7s linear forwards; /* Adjust the duration as needed */
}
